<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="css/jquery.fancybox.min.css">
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="fonts/stylesheet.css?v2">
	<link href="http://allfont.ru/allfont.css?fonts=caslon" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/main.css?v3">
	<link rel="stylesheet" href="css/media.css?v3">
</head>
<body>
	{% block content %}
		
	{% endblock %}
	
	<script src="js/jquery.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/scroll.js"></script>
	<script src="js/mask.js"></script>
	<script src="js/main.js?v3"></script>
</body>
</html>
