@media screen and (max-width: 700px) {
  .head .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .head__social {
    display: none;
  }
  .head__contacts {
    margin: 10px 0;
  }
  .proizv__title {
    font-size: 31px;
  }
  .proizv__desc {
    font-size: 24px;
  }
  .proizv__director {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .proizv__director__text {
    text-align: center;
    margin-top: 20px;
  }
  .proizv__messanger {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .proizv__messanger__btns {
    margin-left: 0;
    margin-top: 20px;
  }
  .proizv__form__inputs {
    grid-template-columns: 1fr;
  }
  .footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .footer__social {
    margin: 27px 0;
  }
  .footer .head__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
  }
  .footer .head__logo__text__title {
    text-align: center;
  }
  .footer .head__logo__text__desc {
    text-align: center;
  }
  .footer .head__logo__text {
    margin-left: 0;
    margin-top: 28px;
  }
  .footer__contacts {
    -webkit-box-align: center;
            align-items: center;
  }
  .proizv__director__text {
    margin-left: 0;
  }
  .works__title,
  .feedback__title {
    font-size: 30px;
  }
  .works__galery__item {
    padding-bottom: 127%;
  }
  .works__galery .owl-nav {
    margin-top: 60px;
  }
  .works__galery .owl-dots {
    -webkit-transform: translateY(-54px);
            transform: translateY(-54px);
  }
  .works__galery .owl-nav {
    -webkit-box-pack: center;
            justify-content: center;
  }
}
