{% set title = 'Главная' %}

{% extends 'layouts/_main.html' %}

{% block content %}
<!-- head -->
<div class="head">
	<div class="container">
		<a href="/" class="head__logo">
			<img src="img/logo.png" alt="">
			<span class="head__logo__text">
				<span class="head__logo__text__title">Мебельная фабрика <strong>MATRIX</strong></span>
				<span class="head__logo__text__desc">C 2004 года создаем <br> стильную удобную мебель</span>
			</span>
		</a>
		<div class="head__contacts">
			<a href="tel:+7 (495) 640-40-18" class="head__phone">+7 (495) 640-40-18</a>
			<div class="head__social">
				<div class="head__social__items">
					<a href=""><img src="img/head__telegram.png" alt=""></a>
					<a href=""><img src="img/head__whatsapp.png" alt=""></a>
					<a href=""><img src="img/head__viber.png" alt=""></a>
				</div>
				<div class="head__social__workstime">
					Без выходных <br> с 10:00 до 21:00
				</div>
			</div>
		</div>
		<button class="btn">Обратный звонок</button>
	</div>
</div>
<!--END head -->

<!-- video -->
<div class="video">
	<div class="container">
		<iframe width="100%" height="315" src="https://www.youtube.com/embed/WgY8WTfetew" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</div>
<!--END video -->

<!-- proizv -->
<div class="proizv">
	<div class="container">
		<div class="proizv__title">Производство <br> корпусной мебели </div>
		<div class="proizv__desc">по индивидуальным параметрам <br> в сегменте middle up и premium</div>
		<div class="proizv__director">
			<div class="proizv__director__avatar"></div>
			<div class="proizv__director__text">
				Здравствуйте! Я, Артем Евланов, основатель <br> мебельной фабрики MATRIX. <br> Предлагаю изготовление корпусной и <br> встраиваемой мебели и предметов интерьера <br> по Вашим проектам на моем производстве. 
			</div>
		</div>
		<div class="proizv__messanger">
			<div class="proizv__messanger__text">
				Напишите мне что-нибудь на Whatsapp или Telegram. В ответ <strong>вышлю фотографии наших работ</strong>. У Вас сохранится мой контакт. Воспользуетесь при необходимости. Обещаю не спамить.
			</div>
			<div class="proizv__messanger__btns">
				<a href=""><img src="img/proizv__whatsapp.png" alt=""></a>
				<a href=""><img src="img/proizv__telegram.png" alt=""></a>
			</div>
		</div>
		<div class="proizv__form">
			<div class="proizv__form__title">
				Оставьте Ваш номер телефона. Позвоню, коротко расскажу,  что можем, <strong>отвечу на вопросы, дам личные гарантии.</strong>
			</div>
			<form action="">
				<div class="proizv__form__inputs">
					<div class="input">
						<div class="input__icon" style="background-image: url(../img/input__user.png);"></div>
						<input type="text" placeholder="Ваше имя">
					</div>
					<div class="input">
						<div class="input__icon" style="background-image: url(../img/input__phone.png);"></div>
						<input type="text" placeholder="+7 ___-__-__">
					</div>
				</div>
				<button class="btn btn__big">Отправить</button>
			</form>
		</div>
	</div>
</div>
<!--END proizv -->

<!-- works -->
<div class="works">
	<div class="container">
		<div class="works__title">Фотографии наших работ</div>
		<div class="works__galery owl-carousel">
			<div class="works__galery__item"></div>
			<div class="works__galery__item"></div>
			<div class="works__galery__item"></div>
		</div>
	</div>
</div>
<!--END works -->

<!-- feedback -->
<div class="feedback">
	<div class="container">
		<div class="feedback__title">Давайте оставаться на связи</div>
		<div class="feedback__desc">
			Оставьте Ваш email. 
			В первом письме <strong>вышлю условия сотрудничества</strong> и кое-что о своем мебельном деле. Потом, 1-2 раза в квартал, буду присылать короткий digest. Как правило, это фотографии недавно реализованных проектов. Вот <a href="/">пример письма c темой “Кухня от MATRIX, рейтинг Forbes, профессор и Хрюша! Как всё это связано?”</a>
		</div>
		<form action="">
			<div class="proizv__form__inputs">
				<div class="input">
					<div class="input__icon" style="background-image: url(../img/input__user.png);"></div>
					<input type="text" placeholder="Ваше имя">
				</div>
				<div class="input">
					<div class="input__icon" style="background-image: url(../img/input__email.png);"></div>
					<input type="text" placeholder="E-mail">
				</div>
			</div>
			<button class="btn btn__big">Отправить</button>
		</form>
	</div>
</div>
<!--END feedback -->

<!-- footer -->
<div class="footer">
	<div class="container">
		<a href="/" class="head__logo">
			<img src="img/logo.png" alt="">
			<span class="head__logo__text">
				<span class="head__logo__text__title">Мебельная фабрика <strong>MATRIX</strong></span>
				<span class="head__logo__text__desc">C 2004 года создаем <br> стильную удобную мебель</span>
			</span>
		</a>
		<div class="footer__social">
			<a href=""><img src="img/footer__instagram.png" alt=""></a>
			<a href=""><img src="img/footer__facebook.png" alt=""></a>
			<a href=""><img src="img/footer__vk.png" alt=""></a>
			<a href=""><img src="img/footer__youtube.png" alt=""></a>
			<a href=""><img src="img/footer__green.png" alt=""></a>
		</div>
		<div class="footer__contacts">
			<a href="tel:+7 (495) 640-40-18" class="head__phone">+7 (495) 640-40-18</a>
			<a href="malto:evlanov@matrix-group.ru" class="footer__mail">evlanov@matrix-group.ru</a>
		</div>
	</div>
</div>
<!--END footer -->
{% endblock %}
